[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = {extras = ["voice"], version = "*"}
yt-dlp = "*"
pynacl = "*"
toml = "*"
opuslib = "*"
prettytable = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
